/* MIXINS */

@mixin displayCenterRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin displayCenterRowSpacearound {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@mixin displayCenterColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin displayColumnXFlexStart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@mixin displayColumnYFlexStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

@mixin displayColumnYAndXFlexStart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

@mixin displayRowYFlexStart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

@mixin displayRowXFlexStart {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@mixin pseudoElement {
    content: '';
    position: absolute;
}

@mixin fixedBackground {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* VARIABLES */

$mainColor: #BF0F0F;
$relativePos: relative;
$absolutePos: absolute;
$centerPos: center;


body {
    font-family: 'Roboto';
    margin: auto;
    padding: 0;
    width: 100% !important;
    background-color: #fff;
    color: #000;
    scroll-behavior: smooth;
}

.headerContainer {
    @include displayCenterRow;
    background-color: #D9D9D9;
    height: 84px;
}

.headerContainer ul, li {
    @include displayCenterRow;
    gap: 1rem;
}

.headerContainer li:last-child {
    text-decoration: none;
}

.headerContainer li {
    text-decoration: underline;
}

.headerContainer li:first-child {
    color: rgba(136, 135, 135, 1);
    text-decoration: none;
}

.header {
    @include displayCenterRowSpacearound;
    padding-top: 5px;
    z-index: 1;
    background-color: #D9D9D9;
    width: 100%;
}

.darkmodeBtn {
    background-color: $mainColor;
    border: none;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.darkmodeBtn:hover {
    background-color: #FFF;
    color: $mainColor;
    border: 1px solid $mainColor;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.darkmodeBtnDropdown {
    background-color: $mainColor;
    border: none;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.darkmodeBtnDropdown:hover {
    background-color: #FFF;
    color: $mainColor;
    border: 1px solid $mainColor;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.toggle {
    @include displayCenterRow;
    padding: 10px;
}

.dark-mode {
    background-color: #5A5A5A;
    color: white;
}

.light-mode {
    background-color: #fff;
    color: #000;
}

.responsiveNavigation {
    display: none;
    text-decoration: none;
    font-size: 30px;
    color: #000;
}

.navigationContainer {
    @include displayCenterRow;
}

.navigationElements {
    @include displayCenterRow;
}

.navigationElement {
    @include displayCenterColumn;
    padding: 0px 45px 0px 45px;
    height: 60px;
    border-right: 0.5px solid rgba(136, 135, 135, 0.4);
    transition: all 0.3s ease-out;
}

.navigationElement:hover {
    background-color: #D9D9D9;
    letter-spacing: 1px;
    color: $mainColor;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.navigationElement:first-child {
    border-left: 0.5px solid rgba(136, 135, 135, 0.4);
}

.navigationElementDescription {
    font-size: 12px;
}

.navigationElement a {
    text-decoration: none;
    color:rgba(0, 0, 0, 1);
}

.aboutContainer {
    margin: auto;
    gap: 2rem;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    position: $relativePos;
}

.aboutImg {
    height: 504px;
    width: 50%;
}

.aboutDescription {
    width: 30%;
}

.companyName {
    position: $relativePos;
    padding-bottom: 15px;
}

.companyName::before {
    @include pseudoElement;
    background-color: $mainColor;
    width: 137px;
    height: 6px;
    bottom: 0;
    left: 0;
}

.profession {
    position: $relativePos;
    padding-bottom: 30px;
}

.profession::before {
    @include pseudoElement;
    background-color: rgba(196, 196, 196, 0.4);
    width: 450px;
    height: 3px;
    bottom: 0;
    left: 0;
}

.description {
    padding-top: 25px;
    font-size: 18px;
}

.aboutBtn {
    background-color: $mainColor;
    border: none;
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    position: $absolutePos;
    bottom: 0;
    transition: all 0.3s ease-out;
}

.aboutBtn:hover {
    background-color: #FFF;
    color: $mainColor;
    border: 1px solid $mainColor;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.distributionContainer {
    padding-top: 50px;
    padding-bottom: 70px;
}

.distributionImage {
    @include displayCenterRow;
    @include fixedBackground;
    background-image: url("../assets/images/landBg.jpg");
    height: 502px;
}

.distributionImage span {
    position: $relativePos;
    font-size: 32px;
    color: #fff;
    letter-spacing: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

.distributionImage span::before {
    @include pseudoElement;
    background-color: $mainColor;
    width: 137px;
    height: 6px;
    bottom: 0;
    left: -1;
}

.cooperationContainer {
    @include displayCenterRow;
    padding: 20px 0px;
    gap: 2rem;
}

.cooperationCard {
    @include displayColumnXFlexStart;
}

.cooperationCard span {
    padding-top: 20px;
    font-size: 24px;
}

.cooperationTitle {
    padding-bottom: 20px;
    position: $relativePos;
}

.cooperationTitle::before {
    @include pseudoElement;
    background-color: $mainColor;
    width: 50px;
    height: 2px;
    bottom: 0;
    left: 0;
}

.statisticContainer {
    @include displayColumnYFlexStart;
    height: 200px;
    padding-top: 148px;
}

.statisticDescription {
    @include displayColumnYFlexStart;
    position: $relativePos;
    padding-bottom: 40px;
}

.statisticDescription::before {
    @include pseudoElement;
    background-color: $mainColor;
    width: 137px;
    height: 6px;
    bottom: 0;
    left: 50;
}

.statisticBackground {
    @include displayCenterRow;
    background-image: url("../assets/images/statistic.png");
    background-size: cover;
    background-position: $centerPos;
    margin-top: 50px;
    padding: 70px 0px;
    gap: 5rem;
}

.statisticElementContent {
    @include displayCenterRow;
    padding: 50px 0px;
    gap: 5rem;
}

.statisticElement {
    @include displayCenterColumn;
    padding-right: 80px;
    width: 200px;
    height: 152px;
    border-right: 1px solid #FFFF;
}

.statisticElement:last-child {
    @include displayCenterColumn;
    padding-right: 0px;
    width: 200px;
    height: 152px;
    border: none;
}

.statisticNumber {
    font-weight: 900;
    font-size: 28px;
    color: #fff;
}

.statisticTitle {
    color: #fff;
}

.measure {
    font-size: 10px;
}

.productsContainer {
    @include displayColumnYFlexStart;
    background-color: #F4F4F4;
    color: #474747;
    padding-top: 30px;
    gap: 2rem;
    position: $relativePos;
    padding-bottom: 50px;
    overflow: hidden;
}

.productsTitle {
    @include displayColumnYFlexStart;
    position: $relativePos;
    font-size: 20px;
    padding-bottom: 20px;
}

.productsTitle::before {
    @include pseudoElement;
    background-color: rgba(196, 196, 196, 0.4);
    width: 524px;
    height: 3px;
    bottom: 0;
    left: 50;
}

.productsDescription {
    padding-top: 20px;
    padding-bottom: 50px;
    line-height: 160%;
    text-align: $centerPos;
    width: 524px;
    height: 67px;
}

.productsDescription span {
    font-size: 14px;
}

.products {
    @include displayCenterRow;
    margin-top: 30px;
    gap: 1rem;
}

.productsCard {
    @include displayColumnXFlexStart;
    height: 333px;
    width: 232px;
    padding-bottom: 15px;
    background-color: #fff;
}

.productsCard span {
    font-size: 20px;
    padding-left: 20px;
    text-align: left;
    position: $relativePos;
}

.productsCard span::before {
    @include pseudoElement;
    background-color: $mainColor;
    width: 53.21px;
    height: 2px;
    left: 20px;
    bottom: 0;
}

/*.nextArrow {
    @include displayCenterRow;
    border: 1px solid $mainColor;
    padding: 20px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    color: $mainColor;
    font-size: 25px;
    transition: all 0.3s ease-out;
}

.nextArrow:hover {
    background-color: $mainColor;
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.prevArrow {
    @include displayCenterRow;
    border: 1px solid $mainColor;
    padding: 20px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    color: $mainColor;
    font-size: 25px;
    transition: all 0.3s ease-out;
}

.prevArrow:hover {
    background-color: $mainColor;
    color: #FFF;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
*/


.cornerImg {
    position: $absolutePos;
    width: 129.74px;
    height: 120.39px;
    left: 6px;
    bottom: -25px;
}

.brandContainer {
    @include displayColumnYFlexStart;
    font-size: 28px;
    padding-top: 50px;
    gap: 2rem;
    position: $relativePos;
}

.brandTitle {
    @include displayColumnYFlexStart;
    position: $relativePos;
    width: 502px;
    text-align: $centerPos;
    padding-bottom: 30px;
}

.brandTitle::before {
    @include pseudoElement;
    background-color: rgba(196, 196, 196, 0.4);
    width: 524px;
    height: 3px;
    bottom: 0;
    left: 50;
}

.brands {
    @include displayCenterRow;
    margin-top: 30px;
    gap: 5rem;
}

.brandCard {
    @include displayCenterColumn;
    padding-bottom: 15px;
}

.brandCard span {
    font-size: 18px;
    margin-top: 30px;
    text-align: $centerPos;
}

.brandCard img {
    object-fit: contain;
}

.brandBtn {
    margin-top: 30px;
    background-color: $mainColor;
    border: none;
    padding: 16px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    transition: all 0.3s ease-out;
    margin-bottom: 10px;
}

.brandBtn:hover {
    background-color: #FFF;
    color: $mainColor;
    border: 1px solid $mainColor;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.footerContainer {
    background-image: url('../assets/images/footerImg.png');
    background-size: cover;
    background-position: $centerPos;
    position: $relativePos;
    padding-bottom: 100px;
    margin-top: 75px;
}

.footerContent  {
    @include displayRowYFlexStart;
    padding-top: 50px;
    gap: 8rem;
}

.footerCompanyContacts{
    @include displayColumnXFlexStart;
    color: #fff;
    gap: 2rem;
    height: 200px;
    border-left: 1px solid rgba(255, 255, 255, 0.26);
    padding: 0px 0px 10px 25px;
}

.contacts {
    @include displayRowXFlexStart;
    width: 200px;
    gap: 1rem;
}

.contacts a {
    color: #fff;
}

.contacts a:hover {
    color: #BF0F0F;
    cursor: pointer;
}

.footerCompanyName {
    font-size: 28px;
    font-weight: bold;
}

.footerNavigation {
    @include displayColumnXFlexStart;
    color: #fff;
    gap: 1rem;
    height: 200px;
    font-size: 12px;
    border-left: 1px solid rgba(255, 255, 255, 0.26);
    padding: 0px 0px 10px 25px;
}

.footerNavigation span:hover {
    color: #BF0F0F;
    cursor: pointer;
}

.footerSocialLinks {
    @include displayColumnYAndXFlexStart;
    color: #fff;
    font-size: 12px;
    gap: 2rem;
    height: 200px;
    border-left: 1px solid rgba(255, 255, 255, 0.26);
    padding: 0px 0px 10px 25px;
}

.socialLogos {
    @include displayCenterRow;
    gap: 1rem;
}

.socialLogos i {
    font-size: 18px;
}

.socialLogos a {
    color: #fff;
}

.socialLogos a:hover {
    color: $mainColor;
}

.copyrightContent {
    @include displayCenterRow;
    height: 68px;
    position: $absolutePos;
    left: 0;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.33);
    background-blend-mode: multiply;
    color: rgba(255, 255, 255, 0.3);
    gap: 8rem;
}

.copyrightContent span {
    font-size: 14px;
}

.copyrightContent a {
    color: rgba(255, 255, 255, 0.5);
}

.copyrightContent a:hover {
    color: #BF0F0F;
    cursor: pointer;
}

.backToTheTop i {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
}

.backToTheTop {
    @include displayCenterRow;
    padding-top: 25px;
}



  /* Slideshow design */

.slideshow-container {
    width: 100%;
    max-height: 100vh;
    position: $relativePos;
    margin: auto;
}
  

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: $absolutePos;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
  
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#myBtn {
    position: fixed;
    bottom: 50%;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: $mainColor;
    color: #000;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 50%;
    opacity: 90%;
    transition: 1s ease-out 100ms;
    transform: scale(0);
}



/* Drop down design */

.dropbtn {
    color: black;
    padding: 12px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    background-color: #D9D9D9;
}

.dropdown a {
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
  
.dropdown {
    position: $relativePos;
    display: none;
}

.dropdown-content {
    display: none;
    position: $absolutePos;
    background-color: rgba(0,0,0,1);
    opacity: 0.9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px 15px;
    border-radius: 10px;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.show {
    display: block;
}

.popup {
    background-color: rgba(255,255,255,0.8);
    width: 250px;
    padding: 30px 40px;
    position: $absolutePos;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    display: none;
    text-align: $centerPos;
}

.popup button {
    display: block;
    margin:  0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

.popup p{
    font-size: 14px;
    text-align: $centerPos;
    margin: 20px 0;
    line-height: 25px;
}

.popup a {
    display: block;
    width: 150px;
    position: $relativePos;
    margin: 10px auto;
    text-align: $centerPos;
    background-color: $mainColor;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 0;
    border-radius: 5px;
}

.popup button:hover {
    color: $mainColor;
}

/* ---- */

#container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: grid ;
    place-items: center
  }
  
  #slider-container {
    height: 350px;
    width: 85vw;
    max-width: 1400px;
    background: #f4f4f4;
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  #slider-container .btn {
    position: absolute;
    top: calc(50% - 30px);
    height: 30px;
    width: 30px;
    border-left: 8px solid #bf0f0f;
    border-top: 8px solid #bf0f0f;
    z-index: 1;
  }
  
  #slider-container .btn:hover {
    transform: scale(1.2);
  }
  
  #slider-container .btn.inactive {
    border-color: black;
  }
  
  #slider-container .btn:first-of-type {
    transform: rotate(-45deg);
    left: 10px
  }
  
  #slider-container .btn:last-of-type {
    transform: rotate(135deg);
    right: 10px;
  }
  
  #slider-container #slider {
    display: flex;
    width: 1000%;
    height: 100%; 
    transition: all .5s;
  }
  
  #slider-container #slider .slide {
    height: 90%;
    margin: auto 10px;
    background-color: #f4f4f4;
    display: grid;
    place-items: center;
  }

  .cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cardDesc {
    position: absolute;
    padding-bottom: 5px;
    color: #474747;
    bottom: 20px;
    left: 20px;
}

.cardDesc::after {
    content: "";
    position: absolute;
    background-color: #bf0f0f;
    width: 50px;
    height: 6px;
    bottom: 0;
    left: 0;
}



